<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
		<section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
	</configSections>
	
	<MsmqTransportConfig
		InputQueue="Subscriber2"
		ErrorQueue="error"
		NumberOfWorkerThreads="1"
		MaxRetries="0"
		/>

	<UnicastBusConfig>
		<MessageEndpointMappings>
			<!--
			
			Publish/Subscribe: Subscribe to Messages FROM Endpoint
			Send/Reply: Send Messages TO Endpoint
			
			<add Messages="Namespace.Of.CommandOrEvent, Assembly"
				 Endpoint="TargetQueue" />
			-->
			<add Messages="InternalService.Messages" Endpoint="InternalService" />
		</MessageEndpointMappings>
	</UnicastBusConfig>

</configuration>