<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
	</configSections>
	
	<appSettings>
		<!-- relevant for a Serialization of "xml" only -->
		<add key="NameSpace" value="http://www.UdiDahan.com"/>

		<!-- can be either "xml", or "binary" -->
		<add key="Serialization" value="xml"/>

		<!-- For MsmqTimeoutStorage, the queue the timeout messages will be stored in until they are due -->
		<add key="StorageQueue" value="ExampleTimeoutManager.Storage"/>
	</appSettings>

	<MsmqTransportConfig
	InputQueue="ExampleTimeoutManager"
	ErrorQueue="error"
	NumberOfWorkerThreads="1"
	MaxRetries="0"
		/>

</configuration>